@import url('https://fonts.googleapis.com/css?family=Raleway');

body:not(textarea) {
  font-family: 'Raleway', sans-serif;
}

a {
  & img {
    image-rendering: pixelated;
  }

  & span {
    position: relative;
    top: 0.2rem;
  }
}